*
{
    margin: 0; 
    padding: 0;
}

.wrapper
{
    width: 1170px;
    margin: auto;
}

header
{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/static/images/main_bg_1.jpg") 50% 0 no-repeat fixed;
    height : 100vh;
    -webkit-background-size : cover;
    background-size: cover;
    background-position: center center;
    position : relative;
}

.nav-area
{
        float: right;
        lsit-style: none;
        margin-top : 30px;
}

.nav-area li
{
    display : inline-block;
}

.nav-area li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family : poppins;
    font-size: 16px;
}

.nav-area li a:hover
{
    background: $fff;
    color: #333;
}

.logo img
{
    width: 100px;
    float: left;
    height : auto;
}

.welcome-text
{
    position: absolute;
    width : 600px;
    height: 300px;
    margin: 20% 30%; 
    text-align: center;
}

.welcome-text h1
{
    text-align: center;
    color: #fff;
    text-transform: lowercase;
    font-size: 35px;
}

.welcome-text a
{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration : none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline-block;
}

.lmod ul
{
    color:red;
}

.lmod ul li a
{
    text-decoration: none;
    color: red;
}

.wrapper1 ul
{
    list-style: none;
    margin-top: 2%;
}

.wrapper1 ul li
{
    background: grey;
    width: 100px;
    
    border-radius: 30px;
    border: 1px solid #73AD21;
    padding: 10px;
    width: 50px;
    height: 50px;


    line-height: 20px;
    text-align:center;
    float: left;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family:normal;
}

.wrapper1 ul li: :hover
{
    background: crimson;
}











